<div class="limiter">
  
  <div class="container-table100">
    
    <div class="wrap-table100">
      <div class="table100 mb-4">
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nombre del restaurante">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Ciudad">
            </div>
            <div class="col">
             <button class="btn btn-info" type="submit">agregar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">Restaurante</th>
              <th class="column2">Ciudad</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td class="column1">El Soperito</td>
                <td class="column2">La Victoria</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



